<div class="col-6 col-sm-4 col-md-2">
  <div class="card bg-light mb-3">
    <div style="background-image:url('{{site.baseurl}}/img/JPEG/{{item.nummer}}.jpg');" class="image"></div>
    <div class="card-body">
      
      <h6 class="card-title">{{item.omschrijving}}</h6>
      <p class="card-text">
        {{item.referentie}} {{item.mand}}<br />
        
      </p>
    </div>
    <div class="card-footer">
      <small><span class="badge badge-pill badge-warning">{{item.nummer}}</span> {{item.medium}} {{item.formaat}} {{item.plaats}}</small>
    </div>
  </div>
</div>